In [1]:
import numpy as np
import pandas as pd
import random as rd

In [113]:
countries=['Japan','Taiwan','Korea','America','France','Italy','England']
populations=np.random.randint(10**8,size=7)
list_labels=['country','population']
list_cols=[countries,populations]
zipped=list(zip(list_labels,list_cols))
analysis=pd.DataFrame(dict(zipped))
analysis

   country  population
0    Japan    33621886
1   Taiwan    43302631
2    Korea    63685353
3  America    72147567
4   France      400011
5    Italy    67673614
6  England     7912790

In [114]:
Index=np.argmax(populations)
#Max_pop=analysis.sort_values(by=['population'])
#Max_pop
Index

3

In [115]:
Out=Max_pop.at[Index,'country']
print("人口最多的國家:")
print(Out)
#analysis

人口最多的國家:
America